@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 75vh;
}

#rowCarta {
  margin-top: 75px;
}

#carta {
  height: 500px;
  width: 350px;
}

#number {
  font-size: 150px !important;
}

#symbol {
  font-size: 90px !important;
}

#symbol2 {
  font-size: 90px !important;
}
